apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ${APP_NAME}
  namespace: ${KUBERNETES_NAMESPACE}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-${LETSENCRYPT_STAGE}"
    ingress.kubernetes.io/force-ssl-redirect: "true"
    kubernetes.io/ingress.class: contour
    kubernetes.io/tls-acme: "true"
spec:
  tls:
  - hosts:
    - ${BASE_URL}
    secretName: ${BASE_URL}-tls
  rules:
  - host: ${BASE_URL}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: ${APP_NAME}
            port: 
              number: 80
